{% extends "tesisrmm/base.html" %}
{% block head %}
{{ tesisform.media }}
{% endblock %}
{% block content %}
<form style="margin-top:5%" method="POST">{% csrf_token %}
    <div class="row">
        <div class="col-12">
            <h2>Crear tesis</h2>
        </div>
    </div>
    <div class="row">
            {% for field in tesisform %}
            <div class="col-3">
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {{ field.errors }}
            </div>
            {% endfor %}
    </div>
    <hr class="divisor" />
    <div class="row">
        <div class="col-12">
            <h2>Autor</h2>
        </div>
    </div>
    <div class="row">
            {% for field in autorform %}
            <div class="col-3">
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {{ field.errors }}
            </div>
            {% endfor %}
    </div>
    <hr class="divisor" />
    <div class="row">
        <div class="col-12">
            <h2>Evaluador</h2>
        </div>
    </div>
    <div class="row">
            {% for field in evaluadorform %}
            <div class="col-3">
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            </div>
                {{ field.errors }}
            {% endfor %}
    </div>
    <hr class="divisor" />
    <div class="row">
        <div class="col-12">
            <h2>Palabras claves</h2>
        </div>
    </div>
    <div class="row">
            {% for field in palabraform %}
            <div class="col-3">
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {{ field.errors }}
            </div>
            {% endfor %}
    </div>
    <button type="submit" style="margin-bottom:2%" class="btn btn-primary float-right">Guardar</button>
</form>
{% endblock %}