<!-- Vista principal donde se encuentra el formulario del buscador y se muestran los resultados -->
{% extends "tesisrmm/base.html" %}
{% block content %}
    <div class="jumbotron">
            <h1>TesisRMM el mejor buscador de tesis</h1>
            <form method="POST">{% csrf_token %}
                    {{ buscadorform.as_p }}
                <span class="btn btn-secondary">
                        <i class="fa fa-search"></i> <input type="submit" value="Buscar"/>
                </span>
            </form>
    </div>
{% if tesis %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estatus</th>
            <th scope="col">Calificacion</th>
            </tr>
        </thead>
        <tbody>
            <!--impresion de los atributos con los valores de las tesis-->
        {% for tes in tesis %}
            <tr>
            <th>{{tes.nombre}}</th>
            <td>{{tes.fecha}}</td>
            <td>{{tes.estatus}}</td>
            <td>{{tes.calificacion}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h2>No hay resultados</h2>
{% endif %}
{% endblock %}